
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

html {
	box-sizing: border-box;
	background: linear-gradient(white, transparent, white), url('../img/Glass.jpg') no-repeat;
	background-size: cover;
	font-size: 1em;
	font-weight: 200;
	font-family: 'Black Han Sans', sans-serif;
}

*, *:before, *:after {
      box-sizing: inherit;
    }

body {
	margin: 0;
}

header h1 {
	text-transform: uppercase;
	color: black;
	text-shadow: 2px 2px 5px lightskyblue;
	width: 98%;
	margin: 12px auto;
	text-align: center;
	padding: 20px;
	letter-spacing: 10px;
}

#click h5 {
	margin: auto;
	width: 98%;
}

#image_container {
	width: 98%;
	margin: auto;
}

.images {
	display: flex;
	min-height: 65vh;
	overflow: hidden;
	border-radius: 5px;

}

.image {
	background:#6B0F9C;
	box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
	color:white;
	text-align: center;
	align-items:center;
	transition:
		font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
		flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
		background 0.2s;
	font-size: 20px;
	background-size:cover;
	background-position:center;
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.image {
	border: 2px solid black;
	color: white;
	text-shadow: 2px 2px 5px black;
	cursor: pointer;
}

.image > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

.image > * { transform: translateY(300%); }
.image.open-active > *: { transform: translateY(1); }



.image.open {
      flex: 9;
      font-size:40px;
    }

@media()

.image1 {
	background-image: url('../img/Batman_process.png');
}
.image2 {
	background-image: url('../img/Batman.png');
}
.image3 {
	background-image: url('../img/Superman.png');
}
.image4 {
	background-image: url('../img/Iron_Man.png');
}
.image5 {
	background-image: url('../img/Hulk.png');
}
.image6 {
	background-image: url('../img/Donatello.png');
}
.image7 {
	background-image: url('../img/Freddy.png');
}
.image8 {
	background-image: url('../img/Myers.png');
}
.image9 {
	background-image: url('../img/Chucky.png');
}
.image10 {
	background-image: url('../img/Jason.png');
}
.image11 {
	background-image: url('../img/Leatherface.png');
}
.image12 {
	background-image: url('../img/Pennywise.png');
}

footer {
	text-align: center;
	width: 98%;
	margin: 10px auto;
	padding: 12px;
	letter-spacing: 5px;
	color: black;
	text-shadow: 2px 2px 5px lightskyblue;
	background-color: linear-gradient(to top, white, transparent);
}

footer img {
	width: 5%;
}