
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header  {
	color: lightcyan;
	background: url('../img/web.jpeg');
	background-size: cover;
	height: 100vh;
	font-family: 'Lato', Sans-Serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#header_content_container {
	margin: 0 200px;
	padding: 200px 0;
}

body {
	font-family: 'Catamaran', Sans-Serif;
	font-size: 16px;

}

.intro {
	font-size: 65px;
}

.what_i_do {
	float: right;
	font-size: 44px;
	margin-top: 30px;
}

h1 {
	float: right;
}

.section-title {
	text-transform: uppercase;
}

.one {
	background: white;
	background-size: cover;
	height: 100vh;
}

.one_heading {
	padding: 100px 270px;
    text-align: center;
    font-size: 40px;
}

.work {
	text-align: center;
	margin: 0 170px;
}

.work1 {
	float: left;
	width: 35%;
	padding: 15px;
	background: white;
	margin: 10px;
}

.work1 img {
	width: 150px;
}


.work2 {
	float: right;
	width: 35%;
	padding: 15px;
	background: white;
	margin: 10px;
}

.work2 img {
	width: 185px;
}

.work2 p {
	text-decoration: italic;
}

.work2 ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

.two {
	height: 100vh;
	background: url('../img/second_background.jpeg');
	background-size: cover;
}

.two_p {
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
	padding: 20px 20px 0;
}

#showContainer {
	width: 640px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 20px;
}

.navButton {
	cursor: pointer;
	float: left;
	width: 25px;
	height: 22px;
	padding: 10px;
	margin-right: 5px;
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 18px;
	background: #000000;
	opacity: 0.65;
	user-select: none;
}

.navButton:hover {
	opacity: 1;
}

.caption {
	float: right;
}

.imageContainer:not(:first-child) {
	display: none;
}

.three {
	height: 100vh;
	background-color: mintcream;
}

footer {
	height: 30vh;
	background: gray;
	margin-top: 0;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer h2 {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.footer_imgs {
	text-align: center;
}

footer img {
	width: 40px;
	margin: 10px;
}