/*---- Universal rules  ---*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html {
  background: #fff;
}

#container {
  max-width: 90em;
  margin: 0 auto;
}

.clearfix::before {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0 auto;
  padding: 0px;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

/*--- Navigation bar  ---*/

header {
  background-color: #000;
  border-bottom: 1px solid #fff;
  padding: .625em 0;
  position: fixed;
  width: 90em;
  top: 0;
  z-index: 10;
  display: none;
}

.scroll {
  background-color: #000;
  padding: .625em 0;
  position: fixed;
  width: 90em;
  top: 0;
  z-index: 10;
  transition: all 3s;
}

.header img {
  display: inline;
  margin-left: 20px;
  width: 5%;
}

.header nav {
  display: inline-block;
}

nav {
  float: right;
  padding-top: 15px;
}

nav ul {
  margin: 0;
  display: inline;
  padding-right: 1.125em;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
}

nav a {
  color: yellow;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

nav a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #fa8000;
  color: ##fa8000;
}

.header ul li {
  padding-left: 2.25em;
}

@media (max-width: 480px) {
  header {
    width: 96%;
  }
  .header img {
    display: none;
  }
  .header ul li {
    padding-left: 0;
  }
  nav {
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    text-decoration: none;
  }
  nav ul {
    margin: 0;
    padding: .10em;
  }
  nav li {
    background-color: lightgray;
    border-radius: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: .60em;
    list-style: none;
    width: 90%;
  }
  nav a {
    padding: 1em;
    text-decoration: none;
  }
  /*
  .banner h3 {
    padding-top: 35em;
    padding-left: 1.8em;
    font-size: .95em;
  }
  */
}

@media (max-width: 770px) {
  .header img {
    display: none;
  }
  .nav ul {
    text-align: center;
  }
  .nav ul li {
    list-style: none;
  }
}

/* -- Universal Banner Styles -- */

.banner .top_btn,
.banner2 .top_btn,
.banner3 .top_btn {
  margin: auto;
  height: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #000;
  border-top: 50px solid transparent;
  cursor: pointer;
  transition: border-bottom 0.9s ease;
  display: none;
}

.btm_btn {
  margin: auto;
  height: 0;
  width: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-top: 50px solid #000;
  cursor: pointer;
  transition: border-top 0.9s ease;
}

.banner .btm_btn:hover,
.banner2 .btm_btn:hover,
.banner3 .btm_btn:hover {
  border-bottom: 50px solid yellow;
}

.banner .top_btn:hover,
.banner2 .top_btn:hover,
.banner3 .top_btn:hover {
  border-bottom: 50px solid yellow;
}

/*--- Initial banner  ---*/

.banner {
  height: 90vh;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 1;
}

.banner:after {
  content: '';
  background: url('../img/kettleBell.jpeg');
  background-size: cover;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
} 

.banner .btm_btn {
  display: none;
}

.banner .banner_words {
  padding-top: 5.575em;
  text-transform: uppercase;
}

.banner h1 {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  background-color: #000;
  color: #fff; 
  font-size: 100px;
  font-weight: 300;
  opacity: 0.5;
}

.banner h2 {
  padding-top: 1em;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 80px;
}

.banner h1 span, 
.banner h2 span {
  display: block;
  font-size: 30px;
}

@media (max-width: 480px) {
  div.banner-text {
    padding-top: 30em;
  }
  div.banner-text h2 {
    margin-left: 1em;
  }
}

/*--- Secondary banner  ---*/

.banner2 {
  height: 100vh;
  border-bottom: 1px solid #fff;
  position: relative;
  display: none;
}

.banner2:after {
  content: '';
  background: url('../img/trxBands.jpeg');
  background-size: cover;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
} 

// .banner .dots {
//   text-align: center;
// }

// .banner .dot {
//   cursor: pointer;
//   height: 25px;
//   width: 25px;
//   margin: 0 10px;
//   background-color: #bbb;
//   border-radius: 50%;
//   display: inline-block;
//   transition: background-color 0.6s ease;
// }

// .active, .dot:hover {
//   background-color: #000;
// }

.banner2 .banner2_words {
  padding-top: 6.575em;
  text-transform: uppercase;
}

.banner2 h1 {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  color: #000; 
  font-size: 100px;
  font-weight: bolder;
  opacity: 0.7;
  text-align: left;
}

.banner2 h2 {
  padding-top: 1em;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 80px;
}

.banner2 h1 span, 
.banner2 h2 span {
  display: block;
  font-size: 30px;
}

@media (max-width: 480px) {
  div.banner2-text {
    padding-top: 30em;
  }
  div.banner2-text h2 {
    margin-left: 1em;
  }
}

/*--- Tertiary banner  ---*/

.banner3 {
  height: 100vh;
  border-bottom: 1px solid #fff;
  position: relative;
  display: none;
}

.banner3:after {
  content: '';
  background: url('../img/deadLifts.jpeg');
  background-size: cover;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
} 

.banner3 .top_btn {
 
}

.banner3 .banner3_words {
  padding-top: 6.575em;
  text-transform: uppercase;
}

.banner3 h1 {
  font-family: 'Monoton', cursive;
  word-spacing: 30px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  color: yellow; 
  font-size: 100px;
  font-weight: 300;
  text-shadow: 4px 4px 2px black;
  text-align: center;
  
  padding: 8px;
}

.banner3 h2 {
  padding-top: 1em;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 80px;
}

.banner3 h1 span, 
.banner3 h2 span {
  display: block;
  font-size: 30px;
}

@media (max-width: 480px) {
  div.banner3-text {
    padding-top: 30em;
  }
  div.banner3-text h2 {
    margin-left: 1em;
  }
}

#options {
  width: 100%;

}

#options .nav_options {
  position: relative;
  float: left;
  width: 32.842%;
  height: 30vh;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

#options .nav_options:first-child:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/strengthTraining.jpeg');
  background-size: cover;
  z-index: -1;
}

#options .nav_options:first-child {
  margin-left: 0px;
}

#options .nav_options:nth-of-type(2n) {
  background: url('../img/nutrition.jpeg');
  background-size: cover;
}

#options .nav_options:last-child {
  margin-right: 0px;
  background: url('../img/purpose.jpeg');
  background-size: cover;
}

#options .nav_options h3 {
  display: block;
  padding-top: 70px;
  color: white;
  z-index: 2;
}

#options .nav_options:hover {
  opacity: 0.2;
}

/* -- Section Styles -- */

#section_one, #section_three {
  width: 100%;
  height: 600px;
  margin: auto;
}

#section_one {
  position: relative;
  padding-top: 90px;
  font-size: 1.1em;
  background: #fff;
}

#section_one:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 25%;
  width: 75%;
  border-top: 1px solid black;
}

#section_one:after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 25%;
  width: 75%;
  border-bottom: 1px solid darkgray;
}

#section_one .section_wrap,
#section_two .section_wrap {
  width: 99%;
}

#section_one .section_wrap .left_side {
  float: left;
  margin: auto;
  width: 30%;
  display: none;
}

#section_one .section_wrap .left_side img {
  width: 100%;
  padding: 25px;
  opacity: 0.7;
}

#section_one .section_wrap .left_side img:hover {
  opacity: 1.0;
}

#section_one .section_wrap .right_side {
  float: right;
  margin-top: 0;
  padding: 100px 10px 10px;
  width: 68%;
  color: #000;
  position: relative;
  opacity: 1.0;
}

#section_one .section_wrap .right_side:hover {
  opacity: 1.0;
}

#section_one .section_wrap .right_side h2 {
  padding: 10px;
  background: #000;
  color: yellow;
  position: absolute;
  top: 3px;
  left: -25px;
  z-index: 2;
  opacity: 0.7;
}

#section_one .section_wrap .right_side p {
  line-height: 30px;
}

#section_two {
  position: relative;
  background: #fff;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  font-size: 1.1em;
  background: url('../img/section_background.jpg');
  background-size: cover;
}

#section_two .mmInfo {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 30px;
  font-size: 20px;
}

#section_two .mmInfo h2 {
  position: absolute;
  background: #000;
  color: yellow;
  left: 70px;
  top: 40px;
  padding: 10px;
  opacity: 0.6;
  z-index: 1;
}

#section_two .mmInfo .first_p {
  margin-top: 160px;
}

#section_two .section_wrap .mmInfo {
  margin-bottom: 40px;
}

.Info_slides {
  background: url('..img/section3Background.jpg');
  padding-bottom: 20px;
}

// #showContainer {
//   width: 640px;
//   padding: 0;
//   margin: 0 auto;
//   overflow: hidden;
//   position: relative;
//   padding-top: 20px;
// }

// .navButton {
//   cursor: pointer;
//   float: left;
//   width: 100px;
//   height: 43px;
//   padding: 10px;
//   margin-right: 5px;
//   overflow: hidden;
//   text-align: center;
//   color: white;
//   font-weight: bold;
//   font-size: 18px;
//   background: #000000;
//   opacity: 0.65;
//   user-select: none;
// }

// .navButton:hover {
//   opacity: 1;
// }

// .caption {
//   float: right;
// }

// .imageContainer:not(:first-child) {
//   display: none;
// }

// .slide_img {
//   width: 100%;
// }

// .Info_slides .info_imgs {
  
// }

.Info_slides .info_imgs {
  text-align: center;
  display: none;
}

// .Info_slides .info_imgs img {
//   border: 1px solid #fff;
// }

// .Info_slides .info_imgs img:nth-child(8n) {
//   margin-right: 15px;
//   margin-left: 15px;
// }

.Info_slides .info_imgs {
  padding-top: 10px;
}

.Info_slides .info_imgs .imgs:last-child {
  float: none;
  width: 100%;
}

#section_three {
  margin-top: 0px;
  border-top: 1px solid black;
  position: relative;
  margin-top: 20px;
}

#section_three:after{
  content: '';
  background: url('../img/trxBands.jpeg');
  background-size: cover;
  width: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#section_three .location {
  float: left;
  width: 55%;
  margin: auto;
}

#section_three .location .form {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

#section_three .location .form h2 {
  margin-top: 0px;
}

#section_three .location .form input {
  padding: 20px;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
}

#section_three .location .form textarea {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 80%;
  border-radius: 5px;
  margin: 20px;
  font-size: 16px;
}

#section_three .test {
  float: right;
  width: 45%;
  margin-top: 60px;
  text-align: center;
}

#section_three .test img {
  width: 45%;
  border-radius: 50%;
  border: 1px solid black;
}

#section_three .test {
  display: none;
}

#section_three .test p {
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#section_three .section_wrap {
  width: 70%;
  margin: auto;
  background: #fff;
}



/* -- Footer -- */

footer {
  background: gray;
  color: yellow;
  padding: 20px;
  text-align: center;
}

footer .social_media {
  margin: auto;
}

footer .social_media img {
  padding: 10px;
  width: 8%;
}
